@tailwind base;
@tailwind components;
@tailwind utilities;
body.body-bg {
  background-image: url('../assets/background.jpg');
}
/* Custom colors */
@layer base {
  :root {
    --theme-turquoise: #40E0D0;
    --theme-yellow: #FFD700;
  }
}

/* Animations */
@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-100px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideInRight {
  from { opacity: 0; transform: translateX(100px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideInUp {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.slide-in-left { animation: slideInLeft 2s ease-out forwards; }
.slide-in-right {animation: slideInRight 2s ease-out fowards;}
.fade-in { animation: fadeIn 1.5s ease-in forwards; }

/* Scroll-triggered animations */
.scroll-animate {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}

/* Add  new styles for scroll-triggered animations */
.scroll-animate {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bck.jpg');
  background-size: cover;
  background-position: center;
}
.text-outline.black {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

.text-outline.turquoise {
  -webkit-text-stroke: 2px turquoise;
  color: transparent;
}

.text-outline.yellow {
  -webkit-text-stroke: 2px yellow;
  color: white;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
}
.text-shadow-lg {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45)
}
.clip-dog-ear {
  clip-path: polygon(100% 0, 0 0, 100%);
}